# Laravel config
APP_NAME="DLA Dataservice"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

# Solr connection
DLA_SOLR_BASE_URI=http://localhost:8983/solr/
DLA_SOLR_BASE_CORE=internformat