{
    "openapi": "3.0.3",
    "info": {
        "title": "DLA Dataservice",
        "description": "Der Datendienst bietet einen offenen Zugang (CC0-Lizenz) zu den Katalogdaten des DLA Marbach. Nutzen Sie den Endpunkt `/records` um Daten in verschiedenen Formaten (JSON, TSV, DC, MODS, RIS) abzurufen. In der Dokumentation finden Sie [Beispielanfragen](https://github.com/dla-marbach/dla-opac-dataservice#beispielanfragen).",
        "termsOfService": "https://www.dla-marbach.de/katalog/datendienst/nutzungsbedingungen/",
        "contact": {
            "name": "Deutsches Literaturarchiv Marbach",
            "url": "https://www.dla-marbach.de/katalog/datendienst/"
        },
        "license": {
            "name": "CC0 (Public Domain)",
            "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode.de"
        },
        "version": "1.1.0"
    },
    "servers": [
        {
            "description": "Version 1",
            "url": "https://dataservice.dla-marbach.de/v1"
        }
    ],
    "paths": {
        "/records": {
            "get": {
                "description": "Liefert eine Liste von Datensätzen, auf die die gegebenen Suchkriterien zutreffen.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/fq"
                    },
                    {
                        "$ref": "#/components/parameters/formatInQuery"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/from"
                    },
                    {
                        "$ref": "#/components/parameters/size"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Record"
                ]
            }
        },
        "/records/count": {
            "get": {
                "description": "Liefert die Anzahl von Datensätzen, auf die die gegebenen Suchkriterien zutreffen.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/fq"
                    },
                    {
                        "$ref": "#/components/parameters/formatInQuery"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Record"
                ]
            }
        },
        "/record/{id}.{format}": {
            "get": {
                "description": "Liefert den Datensatz {id} im Format {format}.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    },
                    {
                        "$ref": "#/components/parameters/formatInPath"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "tags": [
                    "Record"
                ]
            }
        },
        "/collections": {
            "get": {
                "description": "Liefert eine Liste der verfügbaren Kollektionen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Collection"
                ]
            }
        },
        "/collection/{id}.{format}": {
            "get": {
                "description": "Liefert alle Datensätze der Kollektion {id} im Format {format}.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/collectionId"
                    },
                    {
                        "$ref": "#/components/parameters/formatInPath"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/from"
                    },
                    {
                        "$ref": "#/components/parameters/size"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "tags": [
                    "Collection"
                ]
            }
        },
        "/info": {
            "get": {
                "description": "Diese Schnittstelle bietet einen offenen Zugang (CC0-Lizenz) zu den Katalogdaten des DLA Marbach. \n\nDie Entwicklung erfolgte exemplarisch am Corpus des Quellenrepertoriums der Exilbibliotheken von Alfred Döblin und Siegfried Kracauer. Die offene Schnittstelle wurde im Rahmen des Projekts \"Data+\" mit Unterstützung des NFDI-Konsortiums [Text+](https://text-plus.org/) und Förderung der Deutschen Forschungsgemeinschaft entwickelt. Weitere Informationen finden Sie auf der [Webseite des Deutschen Literaturarchivs](https://www.dla-marbach.de/katalog/datendienst/).\n\n*Bitte beachten Sie auch die [Nutzungsbedingungen](https://www.dla-marbach.de/katalog/datendienst/nutzungsbedingungen/).*",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Info"
                ]
            }
        },
        "/info/schema": {
            "get": {
                "description": "Liefert Informationen über alle selektierbaren Felder und ihre Datentypen.\n\nWeitere Informationen zum Datenmodell und den Feldbezeichnungen finden sich auf [GitHub](https://github.com/dla-marbach/dla-opac-transform/blob/main/docs/README.md).",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "Info"
                ]
            }
        }
    },
    "components": {
        "parameters": {
            "id": {
                "name": "id",
                "in": "path",
                "description": "Eindeutige ID eines bibliographischen Datensatzes.",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string"
                },
                "example": "AK01041592"
            },
            "collectionId": {
                "name": "id",
                "in": "path",
                "description": "Eindeutige ID eines Sammlungsdatensatzes.\n\nEine Liste aller verfügbaren Sammlungen liefert der Endpunkt [/collections](#/Collection/get_collections).",
                "required": true,
                "style": "simple",
                "schema": {
                    "type": "string"
                },
                "example": "6"
            },
            "formatInPath": {
                "name": "format",
                "in": "path",
                "description": "Ausgabeformat der Datensätze.",
                "required": false,
                "style": "simple",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "jsonl",
                        "tsv",
                        "dc",
                        "mods",
                        "ris"
                    ],
                    "default": "json"
                }
            },
            "formatInQuery": {
                "name": "format",
                "in": "query",
                "description": "Ausgabeformat der Datensätze.\n\n*Die Formate* `dc`*,* `mods` *und* `ris` *liefern nur Titeldaten (AK, BI, BF, HS) und keine Normdaten!*",
                "required": false,
                "style": "form",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "jsonl",
                        "tsv",
                        "dc",
                        "mods",
                        "ris"
                    ],
                    "default": "json"
                }
            },
            "fields": {
                "name": "fields",
                "in": "query",
                "description": "Liste der Felder, die ausgegeben werden sollen. Siehe: [Tabelle mit verfügbaren Feldern, deren Feldtyp und Häufigkeit](https://github.com/dla-marbach/dla-opac-transform/blob/main/docs/internformat.csv).\n\nDas Platzhalter-Zeichen `*` kann in Feldnamen verwendet werden (beispielsweise würde `person*` alle Felder mit personenbezogenen Angaben liefern).\n\n*Eine Feldauswahl ist nur für die Formate* `json`*,* `jsonl` *und* `tsv` *wirksam!*",
                "required": false,
                "style": "form",
                "explode": false,
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "uniqueItems": true
                    }
                },
                "examples": {
                    "default": {
                        "summary": "Keine Angabe (Standard) => Alle Felder",
                        "value": [
                            "" 
                        ]
                    },
                    "common": {
                        "summary": "Liefere nur die bestandsübergreifenden Standardfelder.",
                        "value": [
                            "display",
                            "displayName",
                            "displayAddition1",
                            "displayAddition2",
                            "id",
                            "filterAuthority_mv",
                            "filterBibliography_mv",
                            "filterCollection_mv",
                            "filterDateRange_mv",
                            "filterDigital",
                            "filterFormContent_mv",
                            "filterLanguage_mv",
                            "filterLocation_mv",
                            "filterMedium_mv",
                            "filterSource",
                            "filterSubject_mv",
                            "filterType_mv",
                            "url" 
                        ]
                    },
                    "all": {
                        "summary": "Liste alle Felder zur Auswahl",
                        "value": [
                            ""
                        ]
                    }
                }
            },
            "query": {
                "name": "q",
                "in": "query",
                "description": "Die Suchanfrage.\n\nMehrere Suchbegriffe können mit **AND** und **OR** verknüpft werden, mit **NOT** können Bedingungen negiert werden. Phrasen müssen in Anführungszeichen eingeschlossen werden. Eine gezielte Suche in spezifischen Feldern ist mit einem Doppelpunkt (**:**) zwischen Feldname und Suchbegriff möglich. Ein Sternchen (**\\***) kann als Platzhalter verwendet werden.\n\n*Die Datenschnittstelle unterstützt die [Such-Syntax des Standard Query Parser von Apache Solr](https://solr.apache.org/guide/solr/latest/query-guide/standard-query-parser.html#specifying-terms-for-the-standard-query-parser).*",
                "required": true,
                "style": "form",
                "schema": {
                    "type": "string",
                    "minLength": 1
                },
                "examples": {
                    "default": {
                        "summary": "Alles (Standard)",
                        "value": "*"
                    },
                    "simple": {
                        "summary": "Einfache Suche in allen Feldern",
                        "value": "Marbach"
                    },
                    "field": {
                        "summary": "Feldsuche",
                        "value": "filterLocation_mv:Marbach"
                    },
                    "wildcard": {
                        "summary": "Platzhalter",
                        "value": "Mar*"
                    },
                    "phrase": {
                        "summary": "Phrasensuche",
                        "value": "\"Huch, Ricarda\""
                    },
                    "not": {
                        "summary": "Ausschluss",
                        "value": "(Friedrich Schiller) NOT Goethe"
                    },
                    "join": {
                        "summary": "Urheberinnen von Publikationen des Verlags Cotta",
                        "value": "id:PE* AND gender:weiblich AND {!join from=creator_id_mv to=id}publisher_display_mv:Cotta"
                    }
                }
            },
            "fq": {
                "name": "fq",
                "in": "query",
                "description": "Suchergebnis mit weiteren Suchanfragen einschränken.\n\nDiese Filter beeinflussen nicht die Relevanz-Berechnung und sind performanter als eine einzige komplexe Suchanfrage.",
                "required": false,
                "style": "form",
                "explode": true,
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "examples": {
                    "default": {
                        "summary": "kein Filter (Standard)",
                        "value": [
                            ""
                        ]
                    },
                    "all": {
                        "summary": "Alle Filter",
                        "value":  [
                            "filterDigital:true",
                            "filterType_mv:Audio",
                            "filterFormContent_mv:Prosa",
                            "filterMedium_mv:Buch",
                            "filterAuthority_mv:\"Huch, Ricarda (1864–1947)\"",
                            "filterAuthorityRelation_mv:\"Huch, Ricarda (1864–1947)␝Von\"",
                            "filterAuthorityRole_mv:\"Huch, Ricarda (1864–1947)␝Verfasser/Urheber\"",
                            "filterDateRange_mv:[1982 TO 1983]",
                            "filterSubject_mv:\"Person und Werk als Thema\"",
                            "filterRecent:NOW-7DAYS",
                            "filterLanguage_mv:Englisch",
                            "filterLanguageType_mv:Englisch␝Übersetzung",
                            "filterLocation_mv:Marbach",
                            "filterLocationType_mv:Marbach␝Erscheinungsort",
                            "filterCollection_mv:\"COTTA:Briefe\"",
                            "filterSource:\"Handschriften Einzelnachweise\"",
                            "filterBibliography_mv:\"Döblin-Bibliographie\""
                        ]
                    },
                    "filterDigital": {
                        "summary": "nur digitale Medien",
                        "value": [
                            "filterDigital:true"
                        ]
                    },
                    "filterType_mv": {
                        "summary": "Medientyp (Gedrucktes, Handschriften, Normdaten, Audio, Bilder und Objekte, Video)",
                        "value":  [
                            "filterType_mv:Audio"
                        ]
                    },
                    "filterFormContent_mv": {
                        "summary": "Form und Inhalt (z.B. Brief, Aufsatz, Prosa)",
                        "value":  [
                            "filterFormContent_mv:Prosa"
                        ]
                    },
                    "filterMedium_mv": {
                        "summary": "Medium (z.B. Beitrag, Buch, Zeitschriftenheft)",
                        "value":  [
                            "filterMedium_mv:Buch"
                        ]
                    },
                    "filterAuthority_mv": {
                        "summary": "Person/Körperschaft",
                        "value":  [
                            "filterAuthority_mv:\"Huch, Ricarda (1864–1947)\""
                        ]
                    },
                    "filterAuthorityRelation_mv": {
                        "summary": "Person/Körperschaft mit Relation (Von, An, Über, Unter)",
                        "value":  [
                            "filterAuthorityRelation_mv:\"Huch, Ricarda (1864–1947)␝Von\""
                        ]
                    },
                    "XXX": {
                        "summary": "Person/Körperschaft mit Funktion (z.B. Verfasser/Urheber, Adressat, Korrespondent)",
                        "value":  [
                            "filterAuthorityRole_mv:\"Huch, Ricarda (1864–1947)␝Verfasser/Urheber\""
                        ]
                    },
                    "filterDateRange_mv": {
                        "summary": "Zeit (Solr DateRangeField Syntax)",
                        "value":  [
                            "filterDateRange_mv:[1982 TO 1983]"
                        ]
                    },
                    "filterSubject_mv": {
                        "summary": "Thema (z.B. Sekundärliteratur, Erzählende Prosa, Person und Werk als Thema)",
                        "value":  [
                            "filterSubject_mv:\"Person und Werk als Thema\""
                        ]
                    },
                    "filterRecent": {
                        "summary": "Neu im Katalog (Solr DateRangeField Syntax)",
                        "value":  [
                            "filterRecent:NOW-7DAYS"
                        ]
                    },
                    "filterLanguage_mv": {
                        "summary": "Sprache (z.B. Deutsch, Englisch, Französisch)",
                        "value":  [
                            "filterLanguage_mv:Englisch"
                        ]
                    },
                    "filterLanguageType_mv": {
                        "summary": "Sprache mit Typ (Original oder Übersetzung)",
                        "value":  [
                            "filterLanguageType_mv:Englisch␝Übersetzung"
                        ]
                    },
                    "filterLocation_mv": {
                        "summary": "Ort (z.B. Berlin, Stuttgart, München):",
                        "value":  [
                            "filterLocation_mv:Marbach"
                        ]
                    },
                    "filterLocationType_mv": {
                        "summary": "Ort mit Funktion (z.B. Erscheinungsort, Wirkungsort, Provenienzort)",
                        "value":  [
                            "filterLocationType_mv:Marbach␝Erscheinungsort"
                        ]
                    },
                    "filterCollection_mv": {
                        "summary": "Sammlung (z.B. COTTA:Briefe, A:Jünger, Ernst, SUA:Suhrkamp/03 Lektorate):",
                        "value":  [
                            "filterCollection_mv:\"COTTA:Briefe\""
                        ]
                    },
                    "filterSource": {
                        "summary": "Datenbestand (z.B. Bibliotheksmaterialien, Handschriften Einzelnachweise, Personen",
                        "value":  [
                            "filterSource:\"Handschriften Einzelnachweise\""
                        ]
                    },
                    "filterBibliography_mv": {
                        "summary": "Bibliographie (z.B. Döblin-Bibliographie, Kracauer-Bibliographie, Schiller-Bibliographie)",
                        "value":  [
                            "filterBibliography_mv:\"Döblin-Bibliographie\""
                        ]
                    }
                }
            },
            "from": {
                "name": "from",
                "in": "query",
                "description": "Erster Datensatz der Ergebnisliste, der zurückgegeben werden soll.",
                "required": false,
                "style": "form",
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1,
                    "default": 1
                }
            },
            "size": {
                "name": "size",
                "in": "query",
                "description": "Anzahl der Datensätze, die zurückgegeben werden sollen.",
                "required": false,
                "style": "form",
                "schema": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1,
                    "default": 50
                }
            },
            "sort": {
                "name": "sort",
                "in": "query",
                "description": "Liste der Sortierkriterien.\n\nFeldname mit Suffix `asc` (aufsteigend) oder `desc` (absteigend)",
                "required": false,
                "style": "form",
                "explode": false,
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "uniqueItems": true
                },
                "examples": {
                    "default": {
                        "summary": "Keine Angabe (Standard) => Sortiere nach Revelanz.",
                        "value": [""]
                    },
                    "id": {
                        "summary": "Sortiere aufsteigend nach Identnummer",
                        "value": ["id asc"]
                    },
                    "date": {
                        "summary": "Sortiere aufsteigend nach Datum, dann absteigend nach Relevanz.",
                        "value": ["dateOrigin asc", "score desc"]
                    },
                    "searchEntityScore": {
                        "summary": "Sortiere nach Anzahl der Verknüpfungen (nur Personen, Körperschaften, Werke und Systematikketten)",
                        "value": ["searchEntityScore desc"]
                    }
                }
            }
        }
    },
    "security": [
        {}
    ],
    "externalDocs": {
        "description": "Code und Dokumentation",
        "url": "https://github.com/dla-marbach/dla-opac-dataservice"
    }
}
